.faq {
  &-section {
    max-width: 50%;
    max-height: fit-content;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
  }

  &-title-section {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &__title {
      font-size: 2.5rem;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  border-bottom: 1px solid grey;
  padding: 10px;

  &:last-child {
    border-bottom: none;
  }

  &__answer-section {
    max-height: 0;
    line-height: 1.3rem;
    overflow: hidden;
  }

  &__answer-section--active {
    max-height: 100%;
  }
}
