* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  background-color: $light-pink;
  font-family: $work-sans-main-font;
  font-weight: 400;
}
